@font-face {
  font-family: 'Orkney';
  src: url("../assets/fonts/Orkney\ Regular.otf") format("opentype");
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  height: 300px;
  width: 250px;
  margin: 50px;
}

.album-card {
  cursor: pointer;
}
.album-card:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.grid-art {
  height: 250px;
  width: 250px;
}

.album-title {
  text-align: center;
  margin-top: 5px;
  font-family: 'Orkney';
  color: #a5a58d;
  font-size: 18px;
}
.artist-name {
  text-align: center;
  margin-top: 5px;
  font-family: 'Ubuntu';
  font-size: 14px;
  color: #b7b7a4;
}

.link-container {
  color: black;
  text-decoration: none;
}